streamlit
fastapi
uvicorn
pydantic
pandas
sqlalchemy
google-generativeai
google-genai
langchain
langchain-community
langchain-core
langchain-google-genai
langgraph
python-dotenv
requests
plotly
